<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="csrf-token" content="<%=csrfToken%>">
        <%- include("./partials/head") -%>
    </head>
    <body>
        <!-- ==========Preloader========== -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- ==========Preloader========== -->
        <!-- ==========Overlay========== -->
        <div class="overlay"></div>
        <a href="#0" class="scrollToTop">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- ==========Overlay========== -->
        <!-- ==========Header-Section========== -->
        <%- include("./partials/header", {header: header}) -%>
        <!-- ==========Header-Section========== -->        
        <!-- ==========Banner-Section========== -->
        <section class="details-banner hero-area bg_img seat-plan-banner" data-background="../assets/images/banner/banner04.jpg">
            <div class="container">
                <div class="details-banner-wrapper">
                    <div class="details-banner-content style-two">
                        <h3 class="title"><%=timeSlot.movie.movie_name%></h3>
                        <div class="tags">
                            <a href="#0">Hall <%=timeSlot.hall.hall_name%></a>
                            <a href="#0">English - 2D</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========Banner-Section========== -->
        <!-- ==========Page-Title========== -->
        <section class="page-title bg-one">
            <div class="container">
                <div class="page-title-area">
                    <div class="item md-order-1">
                        <a href="/movie-seat-plan?hall=<%=timeSlot.hall.hall_id%>&schedule=<%=timeSlot.id%>" class="custom-button back-button">
                            <i class="fa fa-5x fa-angle-double-right"></i>
                            back
                    
                        </a>
                    </div>
                    <div class="item date-item">
                        <span class="date"><%=dateSchedule%></span>
                        <select class="select-bar">
                            <option value="sc1"><%=timeSlot.start_time.slice(0,5)%></option>
                        </select>
                    </div>
                    <div class="item">
                        <h5 class="title" id="countdown"></h5>
                        <p>Mins Left</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========Page-Title========== -->
        <!-- ==========Movie-Section========== -->
        <div class="movie-facility padding-bottom padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="c-thumb padding-bottom">
                            <img src="../assets/images/sidebar/banner/banner04.jpg" alt="sidebar/banner">
                        </div>
                        <div class="section-header-3">
                            <span class="cate">You're hungry</span>
                            <h2 class="title">we have food</h2>
                            <p>Prebook Your Meal and Save More!</p>
                        </div>
                        <div class="grid--area">
                            <ul class="filter">
                                <li data-filter="*" class="active">all</li>
                                <li data-filter=".combos">combos</li>
                                <li data-filter=".bevarage">bevarage</li>
                                <li data-filter=".popcorn">popcorn</li>
                                <li data-filter=".drink">drink</li>
                            </ul>
                            <div class="grid-area">
                                <% fastFood.forEach(function(item){ %>
                                    <div class="grid-item <% item.snacks.forEach(function(k){ %><%= k.type %><% }) %>">
                                        <div class="grid-inner">
                                            <div class="grid-thumb">
                                                <img src="<%=dns%><%= item.food_image.url %>" alt="movie/popcorn">
                                                <div class="offer-tag">$<%= item.price %>
                                            </div>
                                                <div class="offer-remainder">
                                                    <h6 class="o-title mt-0"><%= item.discount %>%</h6>
                                                    <span>off</span>
                                                </div>
                                            </div>
                                            <div class="grid-content">
                                                <h5 class="subtitle">
                                                    <a href="#0"><%= item.food_name %>
                                                </a>
                                                </h5>
                                                <div class="cart-button">
                                                    <div class="cart-plus-minus">
                                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                                    </div>
                                                    <% switch (item.snacks[0].type) {
                                                        case 'combos' : %>
                                                        <button class="custom-button" value="1" onclick="combosOrder('<%=item.price%>','<%=item.discount%>','<%=item.food_id%>','1')">add</button>
                                                                <% break;
                                                        
                                                        case 'bevarage' : %>
                                                        <button class="custom-button" value="1" onclick="foodOrder('<%=item.price%>','<%=item.discount%>','<%=item.food_id%>','1')">add</button>
                                                                <% break;
                                                        
                                                        case 'popcorn' : %>
                                                        <button class="custom-button" value="1" onclick="popcornOrder('<%=item.price%>','<%=item.discount%>','<%=item.food_id%>','1')">add</button>
                                                                <% break;
                                                        case 'drink' : %>
                                                        <button class="custom-button" value="1" onclick="drinkOrder('<%=item.price%>','<%=item.discount%>','<%=item.food_id%>','1')">add</button>
                                                                <% break;
                                                        } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="booking-summery bg-one">
                            <h4 class="title">booking summery</h4>
                            <ul>
                                <li>
                                    <h6 class="subtitle"><%=timeSlot.movie.movie_name%></h6>
                                    <span class="info">English-2d</span>
                                </li>
                                <li>
                                    <h6 class="subtitle">
                                        <span>Hall <%=timeSlot.hall.hall_name%></span>
                                        <span><%=(tickets.length < 10 ? '0' : '') + tickets.length%></span>
                                    </h6>
                                    <div class="info">
                                        <span><%=dateSchedule%>, <%=timeSlot.start_time.slice(0,5)%></span>
                                        <span>Tickets</span>
                                    </div>
                                </li>
                                <li>
                                    <h6 class="subtitle mb-0">
                                        <span>Tickets  Price</span>
                                        <span>$<%=amount%></span>
                                    </h6>
                                </li>
                            </ul>
                            <ul class="side-shape"> 
                                <li class="combos">
                                    <h6 class="subtitle">
                                        <span>combos</span>
                                        <span id="combosAmount"></span>
                                    </h6>
                                    <span class="info combosInfo"></span>
                                </li>
                                <li>
                                    <h6 class="subtitle">
                                        <span>food &bevarage</span>
                                        <span id="foodAmount"></span>
                                    </h6>
                                    <span class="info foodInfo"></span>
                                </li>
                                <li>
                                    <h6 class="subtitle">
                                        <span>popcorn</span>
                                        <span id="popcornAmount"></span>
                                    </h6>
                                    <span class="info popcornInfo"></span>
                                </li>
                                <li>
                                    <h6 class="subtitle">
                                        <span>drink</span>
                                        <span id="drinkAmount"></span>
                                    </h6>
                                    <span class="info drinkInfo"></span>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <span class="info">
                                        <span>price</span>
                                        <span id="invoiceTotal">$<%=amount%></span>
                                    </span>
                                    <span class="info">
                                        <span>vat</span>
                                        <span id="invoiceVAT">$<%= 0.05*amount %></span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="proceed-area  text-center">
                            <h6 class="subtitle">
                                <span>Amount Payable</span>
                                <span id="invoicePayment">$<%= Number(amount) + Number(0.05*amount) %></span>
                            </h6>
                            <a href="/movie-checkout" class="custom-button back-button">proceed</a>
                        </div>
                        <div class="note">
                            <h5 class="title">Note :</h5>
                            <p>Please give us 15 minutes for F&B preparation  once you're at the cinema</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==========Movie-Section========== -->
        <!-- ==========Footer-Section========== -->
        <%- include("./partials/footer", {footer: footer}) -%>
        <!-- ==========Footer-Section========== -->
        <script src="../assets/js/jquery-3.3.1.min.js"></script>
        <script src="../assets/js/modernizr-3.6.0.min.js"></script>
        <script src="../assets/js/plugins.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/isotope.pkgd.min.js"></script>
        <script src="../assets/js/magnific-popup.min.js"></script>
        <script src="../assets/js/owl.carousel.min.js"></script>
        <script src="../assets/js/wow.min.js"></script>
        <script src="../assets/js/countdown.mins.js"></script>
        <script src="../assets/js/countdown.min.js"></script>
        <script src="../assets/js/odometer.min.js"></script>
        <script src="../assets/js/viewport.jquery.js"></script>
        <script src="../assets/js/nice-select.js"></script>
        <script src="../assets/js/main.js"></script>
    </body>
</html>
